
	.header-div{
	
	}
	
	section-div{
	
	}
	
	footer-div{
	
	}
	
	btnStyle1{
		border-radius: 12px;
		background-color: #008CBA;
	
	}
	
	btnStyle2{
		border-radius: 12px;
		background-color: #008CBA;
	
	}
	
	btnStyle3{
		border-radius: 12px;
		background-color: #008CBA;
	
	}