/* Design by http://www.dreamtemplate.com */
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#929292;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	margin:3px 0;
	padding:8px 0;
	font-size:25px;
	font-weight:normal;
	color: blanck;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:red;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0 0 32px;
	width:960px;
}

h1 {
	margin:0;
	padding:40px 48px 0;
	font-size:48px;
	font-weight:normal;
	line-height:1.2em;
	text-transform:none;
	text-align:center;
}

.slider {
	padding:0;
}

.menu_nav {
	margin:0 auto;
	padding:1px 0 0;
	height:60px;
	float:right;
}
.menu_nav ul {
	list-style:none;
	padding:0;
	height:60px;
	float:left;
}
.menu_nav ul li {
	margin:0;
	padding:0;
	float:left;
	border-right:1px solid #000;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:24px 0 0;
	width:191px;
	height:36px;
	font-size:14px;
	line-height:18px;
	font-weight:normal;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	background:#1E1E1E;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#03201e;
	background:#089694;
}
.content {
	padding:0;
}
.content_resize {
	margin:0 auto;
	padding:18px 0;
	width:1000px;
}
.content .mainbar {
	margin:0;
	padding:0 0 0 20px;
	float:left;
	width:620px;
}

#tcopy {clear: both;}
#my-header-new a {text-decoration:none}
}

.content p.pages span, .content p.pages a {
	padding:8px 12px;
	text-decoration:none;
	background:none;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#078886;
}
.content p.pages a {
	color:#929292;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}

.fbg {
	background:#1E1E1E;
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	color:#70807f;
}

.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#009aab;
	text-decoration:underline;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
	color:#fff;
}

.footer {
	background:#03201e;
}

.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}
